<div class="converter">
  <form class="converter__form">
    <label class="converter__input-label" for="command"
      >Currency converter</label
    >
    <converter-controller
      (loading)="loading = $event"
      (loading)="resetResult()"
      (error)="error = $event"
      (result)="updateResult($event)"
    >
    </converter-controller>
  </form>
  <div class="converter__result">
    <span class="converter__error" *ngIf="error">{{ getErrorMessage() }}</span>
    <span *ngIf="result" class="result__text">{{
      result.result + " по цене " + result.rate
    }}</span>
  </div>
</div>
